<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Registration Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="/templates/css/bootstrap.min.css">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="/templates/css/style.css">
</head>

    <body class="text-center">
    <form class="form-signin" action="/reg" method="post">
            <img class="mb-4" src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/74/TinderLogo-2017.svg/2000px-TinderLogo-2017.svg.png" alt="" width="220" height="55">
            <h1 class="h3 mb-3 font-weight-normal">Please registered</h1>

            <label for="inputName" class="sr-only">Name</label>
            <input name="name" type="name" id="inputName" class="form-control" placeholder="Name" required autofocus>

            <label for="inputSurname" class="sr-only">Surname</label>
            <input name="surname" type="surname" id="inputSurname" class="form-control" placeholder="Surname" required>

            <label for="inputPosition" class="sr-only">Position</label>
            <input name="position" type="position" id="inputPosition" class="form-control" placeholder="Position" required>

            <label for="inputEmail" class="sr-only">Email address</label>
            <input name="email" type="email" id="inputEmail" class="form-control" placeholder="Email address" required>

            <label for="inputPassword" class="sr-only">Password</label>
            <input name="password" type="password" id="inputPassword" class="form-control" placeholder="Password" required>
            
            <label for="inputLink" class="sr-only">Past link to image</label>
            <input name="urlImg" type="text" id="inputLink" class="form-control form-control-link" placeholder="Past link to image" required>

            <div class="radio">
                <div class="radio_input">
                    <input type="radio" name="gender" value="man" checked><span class="radio_input-item">Man</span><br>
                </div>
                <div class="radio_input">
                    <input type="radio" name="gender" value="woman"><span class="radio_input-item">Woman</span><br>
                </div>
            </div>

            <button class="btn btn-lg btn-primary btn-block" type="submit">Registered</button>

            <a class="link_regLogin" href="/login">Sign In</a>


        <p class="mt-5 mb-3 text-muted">&copy; Tinder 2019</p>
        </form>
    </body>
</html>
